body{
 font-family: 'Roboto', sans-serif;
 
}

h1 {
 font-size: 50px;
 color: rgb(102, 100, 100);
}
h2{
 color: gray;
 
}
p{
 color: gray;
}
section{
 display: flex;
}

.half-width-top{
 width: 50%;
 padding-left: 5%;
 padding-right: 5%;
 padding-top: 5%;
 margin-bottom: 70px;
 

}
.half-width-top img{
 width: 100%;
}

#AboutMe-img{
 width: 60%;
}

.orange{
color: orange;
}

.link-btn{
text-decoration: none;
background-image: linear-gradient(orange, tomato);
padding: 10px 40px;
color: white;
border-radius: 20px;
font-weight: 400;

}
.button{
 margin-top: 50px;
}

.about-me{
background-image: url(images/7.png);
background-size: cover;
background-repeat: no-repeat;
padding-left: 200px;
padding-right: 200px;
}
.half-width-about{
 width: 500px;
 padding-top: 10%;
 margin-bottom: 70px;
 
}

.recipies{
 margin-top: 70px;
}
.center{
 text-align: center;
 padding-left: 25%;
 padding-right: 25%;
}

.recipies-item{
margin-left: 12%;
margin-right: 10%;
}

.item{
 margin-top: 50px;
margin-left: 2%;
margin-right: 2%;
padding: 10px;
width: 250px;
text-align: justify;
background-color: white;
border-radius: 20px;
box-shadow: 10px 10px 40px rgb(158, 149, 149);
}

.item img{
 width: 230px;
 padding: 10px;
}

#black{
 color: black;
}

.footer{
 margin-top: 70px;
 text-align: center;
 background-color: black;
 padding-top: 15px;
 padding-bottom: 70px;
}

.footer p{
 color: white;
}

.contact-us{
 margin-top: 70px;
 width: 100%;
 margin-left: 150px;
 margin-right: 150px;
 
}

.contact-us h1 {
text-align: center
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-button{
 background-image: linear-gradient(orange, tomato);
 width: 15%;
 text-decoration: none;
 margin-top: 30px;
 padding: 10px;
 border-radius: 10px;
 
}

